{% extends 'base.html.twig' %}

{% block title %}Your Account!{% endblock %}

{% block body %}
<script>
    let url = "https://api.giphy.com/v1/gifs/random?api_key=RHb2vdaLUSQmLzHxuJlDIANyKgPC1oq4&tag=soccer&rating=g"

</script>
<br>
<div class="row justify-content-center">
    <div class="col-12 col-lg-4">
        <h2><i class="fas fa-user-circle"></i>&nbsp;&nbsp;ACCOUNT INFO</h2>
        <table class="table table-dark table-striped">
            <tr>
                <td class="align-middle">Username</td>
                <td class="align-middle"><i>{{ userInfo.username }}</i></td>
            </tr>
            <tr>
                <td class="align-middle">Winning Team</td>
                <td class="align-middle">{{ userInfo.winningTeam|trans }}&nbsp;&nbsp;<img src="/img/{{ userInfo.winningTeam }}.png">&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td class="align-middle">Secret Winning Team</td>
                <td class="align-middle">{{ userInfo.secretWinningTeam|trans }}&nbsp;&nbsp;<img src="/img/{{ userInfo.secretWinningTeam }}.png">&nbsp;&nbsp; </td>
            </tr>
        </table>
    </div>
</div>
    <br><hr>
<div class="row justify-content-center">
    <img class="col-auto" src="https://source.unsplash.com/640x320/?soccer" alt="">
</div>

<!--RHb2vdaLUSQmLzHxuJlDIANyKgPC1oq4 -->
{% endblock %}
