{% extends 'base.html.twig' %}

{% block title %}Match{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2 class="text-center">
                <img src="/img/{{ data.team1 }}.png">
                {{ data.team1|trans }}
                &nbsp;&nbsp;{{ data.scoreTeam1 }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ data.scoreTeam2 }}&nbsp;&nbsp;
                {{ data.team2|trans }}
                <img src="/img/{{ data.team2 }}.png">
            </h2>
            <hr>
            <br>
            <div class="row">
                <div class="col col-lg-6">
                    <h3><i class="fas fa-award"></i>&nbsp;&nbsp;ULTIMATIV 4 PUNKTE</h3>
                    <p>THE NICE GUYS 😎</p>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col" class="text-center">Tip</th>
                            <th scope="col" class="text-center">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in data.tips %}
                            <tr>
                                <td>{{ user.user }}</td>
                                <td class="text-center">{{ user.tipTeam1 }} - {{ user.tipTeam2 }}</td>
                                <td class="text-center">{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col col-lg-6">
                    <h3><i class="far fa-thumbs-up"></i>&nbsp;&nbsp;SERIÖSE 2 PUNKTE</h3>
                    <p>THE LUCKY GUYS 🤞</p>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col" class="text-center">Tip</th>
                            <th scope="col" class="text-center">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in data.tips %}
                            <tr>
                                <td>{{ user.user }}</td>
                                <td class="text-center">{{ user.tipTeam1 }} - {{ user.tipTeam2 }}</td>
                                <td class="text-center">{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col col-lg-6">
                    <h3><i class="fas fa-band-aid"></i>&nbsp;&nbsp;Besser als nix 1 PUNKT</h3>
                    <p>Good try 🙄</p>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col" class="text-center">Tip</th>
                            <th scope="col" class="text-center">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in data.tips %}
                            <tr>
                                <td>{{ user.user }}</td>
                                <td class="text-center">{{ user.tipTeam1 }} - {{ user.tipTeam2 }}</td>
                                <td class="text-center">{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col col-lg-6">
                    <h3><i class="fas fa-ghost"></i>&nbsp;&nbsp;Buuuhhhu</h3>
                    <p><a href="https://youtu.be/eHKZlXlqcS4?t=6" target="_blank">Woran hats gelegen?</a></p>
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col" class="text-center">Tip</th>
                            <th scope="col" class="text-center">Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in data.tips %}
                            <tr>
                                <td>{{ user.user }}</td>
                                <td class="text-center">{{ user.tipTeam1 }} - {{ user.tipTeam2 }}</td>
                                <td class="text-center">{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
