{% extends 'base.html.twig' %}

{% block title %}Tabelle{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2 class="text-center"><i class="fas fa-users"></i>&nbsp;&nbsp;Tabelle</h2>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col"><i class="fas fa-sort-up text-success"></i></i>&nbsp;&nbsp;Platz</th>
                    <th scope="col"><i class="far fa-smile"></i>&nbsp;&nbsp;Name</th>
                    <th scope="col"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Richtige Ergebnisse</th>
                    <th scope="col"><i class="fas fa-futbol"></i>&nbsp;&nbsp;Tordifferenz</th>
                    <th scope="col"><i class="far fa-hand-peace"></i>&nbsp;&nbsp;Siege</th>
                    <th scope="col"><i class="far fa-hand-peace"></i>&nbsp;&nbsp;Extra-Punkte</th>
                    <th scope="col"><i class="far fa-hand-peace"></i>&nbsp;&nbsp;Tipp</th>
                    <th scope="col"><i class="far fa-hand-peace"></i>&nbsp;&nbsp;Geheimtipp</th>
                    <th scope="col"><i class="fas fa-award"></i>&nbsp;&nbsp;Punkte</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.position }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.sumWinExact }}</td>
                        <td>{{ user.sumScoreDiff }}</td>
                        <td>{{ user.sumTeam }}</td>
                        <td>{{ user.extraPoint }}</td>
                        <td><img src="/img/{{ user.winner }}.png"></td>
                        <td><img src="/img/{{ user.winnerSecret }}.png"/></td>
                        <td>{{ user.scoreSum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
