{% extends 'base.html.twig' %}

{% block title %}Tabelle{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2 class="text-center"><i class="fas fa-users"></i>&nbsp;&nbsp;Tabelle</h2>
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <th scope="col">Platz</th>
                    <th scope="col">Name</th>
                    <th scope="col">Richtige Ergebnisse</th>
                    <th scope="col">Tordifferenz</th>
                    <th scope="col">Sieger</th>
                    <th scope="col">Punkte</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.position }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.sumWinExact }}</td>
                        <td>{{ user.sumScoreDiff }}</td>
                        <td>{{ user.sumTeam }}</td>
                        <td>{{ user.scoreSum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
