<div class="container-fluid header">
    <div class="row">
        <div class="col-2">
            <h2 class="logo">EURO '21</h2>
        </div>
        <div class="col-10">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'home'  ? 'active' }}" aria-current="page" href="{{ path('home') }}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'daily_winners'  ? 'active' }}" href="{{ path('daily_winners') }}">Gewinner des Tages</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'table'  ? 'active' }}" href="{{ path('table') }}">Tabelle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.get('_route') == 'account'  ? 'active' }}" href="{{ path('account') }}">Mein Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <hr>
</div>
