{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto centered">
            <input type="email" value="{{ email }}" name="email" id="inputEmail" class="form-control" autocomplete="your email" required placeholder="Email" aria-label="Email"><br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto centered">
            <input type="text" value="{{ username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocu placeholder="Username" aria-label="Username"><br>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto centered">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Passwort" aria-label="Passwort"><br>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-auto centered">
            <select class="form-control" style="margin: 3px 0" name="tip1" required>
                <option value="">--Please choose an winner--</option>
                <option value="BE">{{ "BE"|trans }}</option>
                <option value="DE">{{ "DE"|trans }}</option>
                <option value="DK">{{ "DK"|trans }}</option>
                <option value="EN">{{ "EN"|trans }}</option>
                <option value="FI">{{ "FI"|trans }}</option>
                <option value="FR">{{ "FR"|trans }}</option>
                <option value="IT">{{ "IT"|trans }}</option>
                <option value="HR">{{ "HR"|trans }}</option>
                <option value="NL">{{ "NL"|trans }}</option>
                <option value="MK">{{ "MK"|trans}}</option>
                <option value="AT">{{ "AT"|trans }}</option>
                <option value="PL">{{ "PL"|trans }}</option>
                <option value="PT">{{ "PT"|trans }}</option>
                <option value="RU">{{ "RU"|trans }}</option>
                <option value="SC">{{ "SC"|trans }}</option>
                <option value="SE">{{ "SE"|trans }}</option>
                <option value="SK">{{ "SK"|trans }}</option>
                <option value="CH">{{ "CH"|trans }}</option>
                <option value="ES">{{ "ES"|trans }}</option>
                <option value="TR">{{ "TR"|trans }}</option>
                <option value="CZ">{{ "CZ"|trans}}</option>
                <option value="UA">{{ "UA"|trans }}</option>
                <option value="HU">{{ "HU"|trans }}</option>
                <option value="WL">{{ "WL"|trans }}</option>
            </select>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-auto centered">
            <select  class="form-control" style="margin: 20px 0" name="tip2" required>
                <option value="">--Please choose an secret winner--</option>
                <option value="BE">{{ "BE"|trans }}</option>
                <option value="DE">{{ "DE"|trans }}</option>
                <option value="DK">{{ "DK"|trans }}</option>
                <option value="EN">{{ "EN"|trans }}</option>
                <option value="FI">{{ "FI"|trans }}</option>
                <option value="FR">{{ "FR"|trans }}</option>
                <option value="IT">{{ "IT"|trans }}</option>
                <option value="HR">{{ "HR"|trans }}</option>
                <option value="NL">{{ "NL"|trans }}</option>
                <option value="MK">{{ "MK"|trans}}</option>
                <option value="AT">{{ "AT"|trans }}</option>
                <option value="PL">{{ "PL"|trans }}</option>
                <option value="PT">{{ "PT"|trans }}</option>
                <option value="RU">{{ "RU"|trans }}</option>
                <option value="SC">{{ "SC"|trans }}</option>
                <option value="SE">{{ "SE"|trans }}</option>
                <option value="SK">{{ "SK"|trans }}</option>
                <option value="CH">{{ "CH"|trans }}</option>
                <option value="ES">{{ "ES"|trans }}</option>
                <option value="TR">{{ "TR"|trans }}</option>
                <option value="CZ">{{ "CZ"|trans}}</option>
                <option value="UA">{{ "UA"|trans }}</option>
                <option value="HU">{{ "HU"|trans }}</option>
                <option value="WL">{{ "WL"|trans }}</option>
            </select>
        </div>
    </div>



    <div class="row justify-content-center">
        <div class="col-auto ">
            <button class="btn btn-lg btn-primary button-prim" type="submit">
                Sign in
            </button>
        </div>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

</form>
{% endblock %}
